@-webkit-keyframes Start {
    from {
        visibility: hidden
    }
    to {
        visibility: visible
    }
}

@-moz-keyframes Start {
    from {
        visibility: hidden
    }
    to {
        visibility: visible
    }
}

@-ms-keyframes Start {
    from {
        visibility: hidden
    }
    to {
        visibility: visible
    }
}

@-o-keyframes Start {
    from {
        visibility: hidden
    }
    to {
        visibility: visible
    }
}

@keyframes Start {
    from {
        visibility: hidden
    }
    to {
        visibility: visible
    }
}

@-webkit-keyframes Preloader {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes Preloader {
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes Bg-Animation {
    0%,
    100% {
        -webkit-transform: scale(1)
    }
    70% {
        -webkit-transform: scale(1.1)
    }
}

@keyframes Bg-Animation {
    0%,
    100% {
        transform: scale(1)
    }
    70% {
        transform: scale(1.1)
    }
}

@-webkit-keyframes Play {
    from {
        background-position: 0
    }
    to {
        background-position: -360px
    }
}

@keyframes Play {
    from {
        background-position: 0
    }
    to {
        background-position: -360px
    }
}

@-webkit-keyframes Ani2 {
    0% {
        box-shadow: 0 0 0 rgba(255, 214, 125, 0);
        border: 1px solid rgba(255, 214, 125, 0);
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    70% {
        box-shadow: 0 0 50px rgba(255, 214, 125, 1);
        border: 1px solid rgba(255, 214, 125, 1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        box-shadow: 0 0 60px rgba(255, 214, 125, 0);
        border: 0 solid rgba(255, 214, 125, 0);
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes Ani2 {
    0% {
        box-shadow: 0 0 0 rgba(255, 214, 125, 0);
        border: 1px solid rgba(255, 214, 125, 0);
        transform: scale(0)
    }
    70% {
        box-shadow: 0 0 50px rgba(255, 214, 125, 1);
        border: 1px solid rgba(255, 214, 125, 1);
        transform: scale(1)
    }
    100% {
        box-shadow: 0 0 60px rgba(255, 214, 125, 0);
        border: 0 solid rgba(255, 214, 125, 0);
        transform: scale(1.5)
    }
}

@-webkit-keyframes Ani {
    0% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0);
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    70% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        box-shadow: 0 0 60px rgba(255, 255, 255, 0);
        border: 0 solid rgba(255, 255, 255, 0);
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes Ani {
    0% {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0);
        transform: scale(0)
    }
    70% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 1);
        transform: scale(1)
    }
    100% {
        box-shadow: 0 0 60px rgba(255, 255, 255, 0);
        border: 0 solid rgba(255, 255, 255, 0);
        transform: scale(1.5)
    }
}

@keyframes Rotate {
    from {
        transform: rotate(0) translateZ(0)
    }
    to {
        transform: rotate(360deg) translateZ(0)
    }
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0) translateZ(0)
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes goLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes goLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes goRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes goRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes goRight2 {
    0% {
        opacity: 0;
        background-position: -100% 0
    }
    100% {
        opacity: 1;
        background-position: 100% 0
    }
}

@keyframes goRight2 {
    0% {
        opacity: 0;
        background-position: -100% 0
    }
    100% {
        opacity: 1;
        background-position: 100% 0
    }
}

@-webkit-keyframes toRight {
    0% {
        opacity: 0;
        right: -100px
    }
    100% {
        opacity: 1;
        right: 20px
    }
}

@keyframes toRight {
    0% {
        opacity: 0;
        right: -100px
    }
    100% {
        opacity: 1;
        right: 20px
    }
}

@-webkit-keyframes outRight {
    100% {
        right: -100px
    }
}

@keyframes outRight {
    100% {
        right: -100px
    }
}

@-webkit-keyframes scaleSmall {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes scaleSmall {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@-webkit-keyframes scaleLarge {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scaleLarge {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes Opacity {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes Opacity {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes bounceInDown {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes bounceInDown {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes bounceInUp {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes bounceInUp {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes Color {
    0%,
    100% {
        background-color: #ff3000
    }
    50% {
        background-color: #ffa800
    }
}

@keyframes Color {
    0%,
    100% {
        background-color: #ff3000
    }
    50% {
        background-color: #ffa800
    }
}

@-webkit-keyframes Shape {
    0%,
    100% {
        border-top: 20px solid #ff3000
    }
    50% {
        border-top: 20px solid #50ad77
    }
}

@keyframes Shape {
    0%,
    100% {
        border-top: 20px solid #ff3000
    }
    50% {
        border-top: 20px solid #50ad77
    }
}

@-webkit-keyframes Border {
    0%,
    60% {
        border-top-color: #003f62
    }
    30% {
        border-top-color: #fff
    }
}

@keyframes Border {
    0%,
    60% {
        border-top-color: #003f62
    }
    30% {
        border-top-color: #fff
    }
}

@-webkit-keyframes Border1 {
    0%,
    60% {
        border-color: #003f62
    }
    30% {
        border-color: #fff
    }
}

@keyframes Border1 {
    0%,
    60% {
        border-color: #003f62
    }
    30% {
        border-color: #fff
    }
}

@-webkit-keyframes DrawStroke {
    0% {
        stroke-dashoffset: 300
    }
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes DrawStroke {
    0% {
        stroke-dashoffset: 300
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes DrawStroke1 {
    0% {
        stroke-dashoffset: 3000
    }
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes DrawStroke1 {
    0% {
        stroke-dashoffset: 3000
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes DrawStroke2 {
    0% {
        stroke-dashoffset: 1000
    }
    to {
        stroke-dashoffset: 0
    }
}

@keyframes DrawStroke2 {
    0% {
        stroke-dashoffset: 1000
    }
    to {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes trackBallSlide {
    0%,
    100%,
    30%,
    60% {
        opacity: 1;
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px)
    }
    15%,
    50% {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@keyframes trackBallSlide {
    0%,
    100%,
    30%,
    60% {
        opacity: 1;
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px)
    }
    15%,
    50% {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@-webkit-keyframes MaskPlay {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0
    }
}

@keyframes MaskPlay {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0
    }
}

@-webkit-keyframes StrokeLine {
    0% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: 200
    }
}

@keyframes StrokeLine {
    0% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: 200
    }
}

@-webkit-keyframes FillCorlor {
    0% {
        stop-color: #af6b00
    }
    100% {
        stop-color: #2f4051
    }
}

@keyframes FillCorlor {
    0% {
        stop-color: #af6b00
    }
    100% {
        stop-color: #00545f
    }
}

@-webkit-keyframes FillCorlor2 {
    0% {
        stop-color: #00545f
    }
    100% {
        stop-color: #8B4513
    }
}

@keyframes FillCorlor2 {
    0% {
        stop-color: #00545f
    }
    100% {
        stop-color: #8B4513
    }
}

@-webkit-keyframes Shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0) rotate(0)
    }
    0%,
    50% {
        -webkit-transform: translate3d(-10px, 0, 0) rotate(15deg)
    }
    25% {
        -webkit-transform: translate3d(10px, 0, 0) rotate(-15deg)
    }
}

@keyframes Shake {
    from,
    to {
        transform: translate3d(0, 0, 0) rotate(0)
    }
    0%,
    50% {
        transform: translate3d(-10px, 0, 0) rotate(15deg)
    }
    25% {
        transform: translate3d(10px, 0, 0) rotate(-15deg)
    }
}

@-webkit-keyframes BorderBox {
    0%,
    100% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
}

@keyframes BorderBox {
    0%,
    100% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
}

@-webkit-keyframes moveLeft {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes moveLeft {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes moveRight {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes moveRight {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

.container,
.footer,
.header,
.info-facilities,
.register-form {
    -webkit-animation: Start 1s steps(1, end) 0s 1 normal both;
    -moz-animation: Start 1s steps(1, end) 0s 1 normal both;
    -ms-animation: Start 1s steps(1, end) 0s 1 normal both;
    animation: Start 1s steps(1, end) 0s 1 normal both
}

.fadein {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.fadeout,
.flipoutx {
    -webkit-animation-fill-mode: forwards
}

.fadeout {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

.flipoutx {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipOutX;
    animation-name: flipOutX;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    animation-fill-mode: forwards
}

.flipinx,
.goleft {
    -webkit-animation-duration: .8s
}

.fadeindown,
.flipinx {
    -webkit-animation-fill-mode: forwards
}

.flipinx {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    animation-duration: .8s;
    animation-fill-mode: forwards
}

.fadeindown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.fadeinup,
.fadeoff {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards
}

.fadeinup {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.fadeoff {
    -webkit-animation-name: fadeOff;
    animation-name: fadeOff;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.fadeon,
.goleft {
    -webkit-animation-fill-mode: forwards
}

.fadeon {
    -webkit-animation-name: fadeOn;
    animation-name: fadeOn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.goleft {
    -webkit-animation-name: goLeft;
    animation-name: goLeft;
    animation-duration: .8s;
    animation-fill-mode: forwards
}

.goright,
.moveleft {
    -webkit-animation-duration: .8s
}

.goright {
    -webkit-animation-name: goRight;
    animation-name: goRight;
    animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.scalelarge {
    -webkit-animation: scaleLarge;
    animation: scaleLarge;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.slide-fade-out {
    -webkit-animation: fadeOut;
    animation: fadeOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.slide-fade-in {
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 10
}

.moveleft,
.moveright {
    pointer-events: none;
    -webkit-animation-fill-mode: forwards
}

.moveleft {
    -webkit-animation-name: moveLeft;
    animation-name: moveLeft;
    animation-duration: .8s;
    animation-fill-mode: forwards
}

.moveright {
    -webkit-animation-name: moveRight;
    animation-name: moveRight;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    animation-fill-mode: forwards
}

.register-form .input-area,
.register-form .input-but,
.register-form .require-col .input-text,
.register-form h3 {
    opacity: 0
}

.register-form h3 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.register-form .require-col .input-text {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.register-form .input-area {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.register-form .input-but {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.register-form .input-area.show,
.register-form .input-but.show,
.register-form .require-col .input-text.show,
.register-form h3.show {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@media screen and (min-width:1100px) {
    #about-page .text-intro h3,
    #about-page .text-intro p,
    #contact-page .text-intro,
    #home-page .text-intro h3,
    #home-page .text-intro p,
    #location-page .text-intro,
    .all-logo,
    .apartment-pointer,
    .bottom-text,
    .box-01,
    .box-02,
    .box-area,
    .box-cover-right,
    .box-library h2,
    .box-nav,
    .box-news,
    .box-pic img,
    .box-text,
    .buttons,
    .contact-form,
    .dot-logo,
    .go-inner,
    .go-page,
    .google-map,
    .group-central[data-name=area] .box-cover span,
    .hotline,
    .hover-item,
    .inner,
    .language,
    .logo,
    .map-bg,
    .map-svg,
    .nav-click,
    .slide-pics .slide-controls,
    .social,
    .sub-nav,
    .sub-news,
    .subscribe,
    .text-note,
    .wheel {
        opacity: 0
    }
    .show-text .box-library h2 {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .logo.show {
        -webkit-animation: goLeft;
        animation: goLeft;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .language.show {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .nav-click.show {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .subscribe.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .hotline.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .bottom-text.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .social.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .wheel.show {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .box-nav.show,
    .sub-nav.show,
    .sub-news.show {
        -webkit-animation: toRight;
        animation: toRight;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .sub-news.show.hide {
        -webkit-animation: outRight;
        animation: outRight;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .blur-bg span {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .bg-cover::before {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-cover::after {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .bg-black::after {
        background: -webkit-linear-gradient(270deg, #00707e, #aba988, #00545f, #00707e);
        background: linear-gradient(270deg, #00707e, #aba988, #00545f, #00707e);
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform .6s ease;
        transition: transform .6s ease;
        background-size: 400% 400%
    }
    .show-text .bg-black::after {
        -webkit-animation: BorderBox 5s infinite;
        animation: BorderBox 5s infinite
    }
    #about-page .text-intro h2::after,
    #home-page .text-intro h2::after {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease
    }
    #about-page .show-text .text-intro h2::after,
    #home-page .show-text .text-intro h2::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s
    }
    .show-text .box-01 {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-02 {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .text-intro h3,
    .show-text .text-intro p.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .group-central.show-text .go-inner.show,
    .show-text .go-page.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .hover-item {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-pic img {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #home-page .show-text .map-bg {
        -webkit-animation: goLeft;
        animation: goLeft;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #location-page .show-text .map-bg {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .map-svg {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .bg-black::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    .show-text .box-news:nth-child(1) {
        -webkit-animation: goLeft;
        animation: goLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-news:nth-child(2) {
        -webkit-animation: goRight;
        animation: goRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-news:nth-child(3) {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .all-logo {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-text.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1.5;
        animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .slide-pics .slide-controls {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1.5;
        animation-duration: 1.5s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .circle.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .line {
        -webkit-animation-name: DrawStroke1;
        animation-name: DrawStroke1;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .dot-logo {
        -webkit-animation: bounceInUp;
        animation: bounceInUp;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .st-line {
        -webkit-animation: StrokeLine 3s infinite linear;
        animation: StrokeLine 3s infinite linear
    }
    .show-text .inner {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .group-central[data-name=invest].show-text .box-cover span::after {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #location-page .show-text .text-intro {
        -webkit-animation: goLeft;
        animation: goLeft;
        -webkit-animation-duration: 1.5;
        animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .zoom-box.show span.circle {
        -webkit-animation: Ani 2s infinite;
        animation: Ani 2s infinite
    }
    .show-text .zoom-box.show:hover span.circle {
        -webkit-animation-play-state: paused;
        animation-play-state: paused
    }
    .show-text .box-area {
        -webkit-animation: scaleSmall;
        animation: scaleSmall;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .apartment-pointer {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .apartment-pointer .pointer {
        -webkit-animation: Border1 2s infinite;
        animation: Border1 2s infinite
    }
    .show-text .apartment-pointer .pointer::after {
        -webkit-animation: Border 2s infinite;
        animation: Border 2s infinite
    }
    .show-text[data-name=area] .box-cover span {
        -webkit-animation: fadeIn;
        animation: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .buttons {
        -webkit-animation: goLeft;
        animation: goLeft;
        -webkit-animation-duration: 1.5;
        animation-duration: 1.5s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .box-cover-right {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #contact-page .show-text .contact-form,
    #contact-page .show-text .text-intro {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #contact-page .show-text .box-text {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .google-map {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .colum-box-news.show {
        height: 100%
    }
    .colum-box-news.show .click-hover {
        display: block
    }
    #progress-page .box-library h2 {
        opacity: 1
    }
    #library-page .box-library h2,
    #library-page .pic-center,
    .all-dot-top .dot-num,
    .apartment h2,
    .box-progress,
    .description,
    .facilities h2,
    .go-back,
    .keyplan,
    .note-facilities,
    .num,
    .share,
    .slide-house,
    .thumb-click,
    .title-box {
        opacity: 0
    }
    #progress-page .show-text .box-library h2 {
        -webkit-animation: none;
        animation: none;
        -webkit-animation-duration: 0s;
        animation-duration: 0s
    }
    .box-progress.show {
        -webkit-animation: fadeInUp;
        animation: fadeInUp;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #library-page .show-text .pic-center {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    #library-page .show-text .box-library h2 {
        -webkit-animation: scaleLarge;
        animation: scaleLarge;
        -webkit-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .note-facilities.show {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: .8s;

        animation-delay: .8s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-text .dot-num.show span.circle {
        -webkit-animation: Ani 2s infinite;
        animation: Ani 2s infinite
    }
    .typical .num span.circle {
        -webkit-animation: Ani 2s infinite;
        animation: Ani 2s infinite
    }
    .facilities.show-text h2 {
        -webkit-animation: fadeInDown;
        animation: fadeInDown;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .apartment.show-text h2 {
        -webkit-animation: fadeInDown;
        animation: fadeInDown;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .apartment.show-text .num {
        -webkit-animation: scaleLarge;
        animation: scaleLarge;
        -webkit-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .show-house .slide-house,
    .show-house .title-box {
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards
    }
    .apartment.show-text .num:nth-child(even) {
        -webkit-animation-delay: .3s;
        animation-delay: .3s
    }
    .show-house .title-box {
        -webkit-animation-name: goLeft;
        animation-name: goLeft;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards
    }
    .show-house .slide-house {
        -webkit-animation-name: scaleLarge;
        animation-name: scaleLarge;
        animation-duration: 1s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        animation-fill-mode: forwards
    }
    .go-back.show,
    .show-house .description {
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards
    }
    .show-house .description {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards
    }
    .go-back.show {
        pointer-events: auto;
        -webkit-animation-name: goRight;
        animation-name: goRight;
        animation-duration: 1s;
        animation-fill-mode: forwards
    }
    .show-house .keyplan,
    .show-house .share {
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards
    }
    .show-house .bg-house {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    .show-house .bg-house::after {
        opacity: 1
    }
    .show-house .keyplan {
        -webkit-animation-name: goRight;
        animation-name: goRight;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards
    }
    .show-house .share {
        -webkit-animation-name: goLeft;
        animation-name: goLeft;
        animation-duration: 1s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards
    }
    .show-house .thumb-click {
        -webkit-animation-name: goRight;
        animation-name: goRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
}

@media screen and (max-width:1100px) {
    .dot-logo,
    .go-back,
    .house-detail {
        opacity: 0
    }
    .house-detail.show-house {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .go-back.show {
        pointer-events: auto;
        -webkit-animation-name: goRight;
        animation-name: goRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
    .map-mobile.show .dot-logo {
        -webkit-animation: bounceInDown;
        animation: bounceInDown;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards
    }
}