.uxu-pricing-style-v1{
    margin: 0px 10px 0px 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 0px 20px 0px rgb(60 156 248 / 20%);
}
.uxu-pricing-style-v2{
    margin: 0px 10px 0px 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 0px 20px 0px rgb(146 45 247 / 20%);
}
.uxu-pricing-style-v3{
    margin: 0px 10px 0px 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 0px 20px 0px rgb(252 63 195 / 18%);
}
.uxu-price-table-header {
    padding: 32px 0px 11px 0px;

}
.uxu-price-table-header ,
.uxu-price-table-price-wrap {
    color: white;
}
.uxu-price-subheading-text {

}
.uxu-price-table-heading {
    font-size: 1.7em;
    color: white;
}
.uxu-price-subheading-text {
    font-size: 1em
}

.uxu-price-table {
    text-align: center;
    font-size: 18px;
}
.uxu-price-table-price-wrap {
    padding: 10px 0px 94px 0px;
}
.uxu-price-table .uxu-pricing-value {
    font-weight: 600;
    font-size: 3.6em;
    line-height: 1em;
    display: flex;
    justify-content: center;
}

.uxu-price-table-currency {
    align-self: flex-start;
}
.uxu-price-table .uxu-price-table-currency, .uxu-price-table .uxu-price-table-fractional-part {
    line-height: 1.2em;
    font-size: .4em;
}

.uxu-price-table ul {
    padding: 11px 0px 0px 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.uxu-price-table ul li {
    margin: 0 !important;
    padding: 10px 20px;
}

uxu-price-heading-icon, .uxu-pricing-container {
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
}
.uxu-price-heading-text {
    line-height: 100%;
}
.uxu-pricing-duration {
    font-size: 0.8em;
}

.uxu-pricing-style-v1 .uxu-price-table-price-wrap,
.uxu-pricing-style-v2 .uxu-price-table-price-wrap,
.uxu-pricing-style-v3 .uxu-price-table-price-wrap,
.uxu-pricing-style-v4 .uxu-price-table-price-wrap {
    padding: 0 20px 120px 20px;
}

.uxu-price-table .uxu-price-table-cta {
    padding: 40px 20px;
}

.uxu-pricing-style-v1 .uxu-price-table .uxu-button,
.uxu-pricing-style-v2 .uxu-price-table .uxu-button,
.uxu-pricing-style-v3 .uxu-price-table .uxu-button,
.uxu-pricing-style-v4 .uxu-price-table .uxu-button {
    border-width: 2px 2px 2px 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 13px 26px 13px 26px;
    border-radius: 20px;
    border: 2px solid;
}


.uxu-pricing-style-v1 .uxu-price-table .uxu-button {
    border-color: #47A1F6;
    color: #47A1F6;
}
.uxu-pricing-style-v2 .uxu-price-table .uxu-button {
    color: #8D34E7;
    border-color: #8D34E7;
}
.uxu-pricing-style-v3 .uxu-price-table .uxu-button {
    border-color: #F343BD;
    color: #F343BD;
}
.uxu_direction_row_reverse {
    flex-direction: row-reverse;
}

.uxu-module-content:hover {
    transform: translateY(-10px);
    transition: 1s;
}


.uxu-block-text-marquee {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%
}

.uxu-block-text-marquee .uxu-content {
    display: flex;
    font-size: 0;
    max-width: 100vw;
    overflow: hidden;
    white-space: nowrap
}

.uxu-block-text-marquee .uxu-text {
    align-items: baseline;
    display: flex
}



.uxu-block-text-marquee .uxu-m-text.uxu-text--copy {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(100%) translateZ(0);
    will-change: transform
}

.uxu-block-text-marquee .uxu-m-text-item {
    font-size: 100px;
    line-height: 1.1em;
    padding-left: .5em;
    padding-right: .5em
}

.uxu-block-text-marquee .uxu-icon-holder {
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 30px
}

.uxu-block-text-marquee .uxu-icon-holder svg {
    fill: currentColor;
    stroke: currentColor;
    height: auto;
    width: 1em
}

.uxu-block-text-marquee.uxu-text-stroke-effect .uxu-text-item {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
    color: transparent !important;
    text-shadow: none
}

@keyframes uxu-blocks-move-horizontal-normal-text-marquee {
    0% {
        transform: translateX(0) translateZ(0)
    }
    to {
        transform: translateX(-100%) translateZ(0)
    }
}

@keyframes uxu-blocks-move-horizontal-normal-text-marquee-copy {
    0% {
        transform: translateX(100%) translateZ(0)
    }
    to {
        transform: translateX(0) translateZ(0)
    }
}

@keyframes uxu-blocks-move-vertical-normal-text-marquee {
    0% {
        transform: translateY(0) translateZ(0)
    }
    to {
        transform: translateY(-100%) translateZ(0)
    }
}

@keyframes uxu-blocks-move-vertical-normal-text-marquee-copy {
    0% {
        transform: translateY(100%) translateZ(0)
    }
    to {
        transform: translateY(0) translateZ(0)
    }
}

@keyframes uxu-blocks-move-horizontal-reverse-text-marquee {
    0% {
        transform: translateX(0) translateZ(0)
    }
    to {
        transform: translateX(100%) translateZ(0)
    }
}

@keyframes uxu-blocks-move-horizontal-reverse-text-marquee-copy {
    0% {
        transform: translateX(-100%) translateZ(0)
    }
    to {
        transform: translateX(0) translateZ(0)
    }
}

@keyframes uxu-blocks-move-vertical-reverse-text-marquee {
    0% {
        transform: translateY(0) translateZ(0)
    }
    to {
        transform: translateY(100%) translateZ(0)
    }
}

@keyframes uxu-blocks-move-vertical-reverse-text-marquee-copy {
    0% {
        transform: translateY(-100%) translateZ(0)
    }
    to {
        transform: translateY(0) translateZ(0)
    }
}

.uxu-block-text-marquee .uxu-m-text {
    align-items: baseline;
    display: flex;
}

.uxu-block-text-marquee.uxu-m-content {
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}



.uxu-block-text-marquee .uxu-m-text.uxu-text--copy {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(100%) translateZ(0);
    will-change: transform;
}

.stroke-text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
    color: transparent!important;
}

.text-justify {
    text-align: justify;
}